.projects_container {
  margin: 0 0 0 10px;
  position: relative;
  width: 99%;
}
div#wn7 {
  height: 205px;
  overflow-y: hidden;
  overflow-x: scroll;
  position: relative;
}
.borderright {
  border-right: 10px solid #3c3c3c;
}

.leftmenu .pic img {
  margin: 1px;
}

.underpic_label {
  color: #929292;
  clear: left;
  float: left;
  font-size: 11px;
  height: 15px;
  margin: 0 5px 0 2px;
  overflow: hidden;
  text-align: right;
  width: 30px;
}
.underpic_value {
  color: #fff;
  float: left;
  font-size: 11px;
  height: 15px;
  overflow: hidden;
  width: 125px;
}

div#scrollbar7, div#track7, div#dragBar7, div#left7, div#right7 {
  -moz-user-select: none;
}
div#scrollbar7 {
  display: block;
  font-size: 1px;
  height: 11px;
  position: relative;
  width: 100%;
}

div#track7 {
  background-image: url("../images/horizontalscrollbg.gif");
  background-repeat: repeat-x;
  height: 11px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#user_list{
    width: 100%;
    max-height: 100px;
}
/*
#blog_list{
    width: 100%;
    max-height: 120px;
}
*/
#blog_list {
  bottom: 0;
  min-height: 150px;
  position: absolute;
  /* top: 490px;
  width: calc(100% - (315px));
  */
  top: 0;
  width: 100%;
}
#user_list table tr td, #blog_list table tr td{
    font-size: 11px;
}

#user_list table th, #blog_list table th{
    color: #525252;
    padding-left: 10px;
}

#user_list table td, #blog_list table td {
  color: #897f7a;
  height: 28px;
  padding-left: 10px;
}


#user_list table tr:not(:first-child):hover, #blog_list table tr:not(:first-child):hover{
    background: #505050;
}

.whiteText{
    color: #ffffff !important;
}

.nameholder{
    float: left; position:relative; border-top:#949494 1px solid; width:225px; overflow:hidden;
}
.linkholder{
    float: left; width:80px; border-top:#949494 1px solid; 
}
.leftholder{
    position:relative; float:left; width:305px; border:#949494 1px solid; background:#2E2E2E;
}
.rightholder{
    position:relative; float:left; width:305px; border:#949494 1px solid; background:#2E2E2E; margin-left:3px;
}
.project_container_off {
  float: left;
  height: 192px;
  width: 160px;
}

.project_container_on {
  background-color: #505050;
  margin: 1px;
  padding: 1px;
  border: 1px solid #939393;
  width: 160px;
}

.outerprojects{
    background: url("../images/project_off.png") no-repeat;
    width: 162px;
    height: 202px;
}

.outerprojects:hover {
  background: url("../images/project_over.png") no-repeat;
}

.outerprojects_select{
    background: url("../images/project_on.png") no-repeat;
    width: 162px;
    height: 202px;
}

.outerprojects img, .outerprojects_select img{
    margin-left: 1px;
    margin-top: 1px;
}

.project_container_off:hover {
  background-color: #505050;
  border: 1px solid #939393;
}

#project_filter {
  left: 470px;
  color: #737373;
  position: absolute;
}

.styled-select select {
    background: transparent;
    width: 180px;
    padding-left: 5px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 19px;
    color: #b9b9b9;
    -webkit-appearance: none;
}

.styled-select {
    width: 160px;
    height: 19px;
    overflow: hidden;
    background: url("../images/arrow_drop-down.png") no-repeat right #6e6e6e;
}

.order_a {
  background: url("../images/drop-down.png") no-repeat scroll 100% 5px rgba(0, 0, 0, 0);
  padding: 0 15px 0 0;
}

.datecolor{
    color: #636363 !important;
}

.emailcolor {
  color: #afafaf !important;
}

.firstname_color {
  color: #999999;
}
.topnav a.on, .topnav a.on:link, .topnav a.on:visited, .topnav a.on:hover, .topnav a.on:focus {
  color: #fff;
  margin: 0 33px 0 0;
  text-decoration: none;
}

.topnav a, .topnav a:link, .topnav a:visited {
  color: #999;
  margin: 0 33px 0 0;
  text-decoration: none;
}

#userdetails{margin-left: 12px; margin-top: 15px; height: 180px;}

.input_filter{background: none repeat scroll 0 0 #a29791;  border: 0 none;  color: #fff;  float: left;  font-size: 12px;  font-weight: bold;  height: 16px;  margin: 5px 6px 10px 0;  width: 128px;}
#recent_content{margin-left:12px; position: absolute; bottom: 0; top:228px; width: 285px;}

.item {background: none repeat scroll 0 0 #454545;  border: 1px solid #454545;  font-size: 11px;  margin: 0 0 10px;  position: relative;  width: 265px;}
.item:hover{border: 1px solid #717171; background: none repeat scroll 0 0 #505050}
.item img {border-right: 1px solid #717171;  margin: 0 4px 0 0;}
.item div.floatLeft {line-height: 18px;  padding: 3px 0;  position: relative;  width: 157px;}.nooverflow { overflow: hidden;  white-space: nowrap;}
.item div .seen_yes { background: url("../images/seen_yes.gif") no-repeat scroll 100% 50% rgba(0, 0, 0, 0);}
.item div .seen_no { background: url("../images/seen_no.gif") no-repeat scroll 100% 50% rgba(0, 0, 0, 0);
}
.item div .seen_no, .item div .seen_yes { bottom: 3px;  padding: 0 25px 0 0;  position: absolute;  right: 0;  width: 44px;}
.filter_width{width: 128px; margin-right: 5px; margin-bottom: 10px;}
.input_search {background: none repeat scroll 0 0 #6e6e6e; color: #fff; float: left; font-family: Arial,Helvetica,sans-serif; font-size: 12px; height: 18px; margin: 0; padding: 1px 0 1px 2px; width: 216px;}
.but_search, .but_search:link, .but_search:visited {background: none repeat scroll 0 0 #333; color: #fff; float: left; font-size: 11px; font-weight: bold; height: 18px; margin: 0; padding: 2px 9px;}
.popup_forms textarea {background: none repeat scroll 0 0 #fff; color: #000; font-family: Arial,Helvetica,sans-serif; font-size: 12px; width: 306px; border: none}

.bottom_table{border-collapse:collapse; margin:0; padding:0; width:100%; font-size:12px; font-weight:bold; color:#fff;}
.bottom_table tr .tableheading{text-align:left; color:#958B86; font-size:12px; width:10%}
.bottom_table tr th, .bottom_table tr td{background:#000; border:#514C48 1px solid; height:25px; text-align:center; padding:2px 10px;}
.bottom_table tr th{background:#1C1A18; font-size:15px; width:18%;}
.bottom_table a{text-decoration:underline !important; color:#fff !important;}