@charset "utf-8";
/* CSS Document */
body{
    background:none repeat scroll 0 0 #3c3c3c;
    color:#fff;
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    text-shadow:rgba(0,0,0,0.01) 0 0 0;
}
html, body, div, span, ul, img, h1, h2, h3, h4, h5 {
  border: 0 none;
  margin: 0;
  padding: 0;
}
#wrapper{
    width:98%;
    /*min-height: 515px;*/
    margin:0 auto;
    height: 100%;
}
#content, #content_projects {
  background: #3c3c3c;
  clear: left;
  margin: 0 auto;
  /* position: relative; */
  text-align: left;
  /*
  width:75%;
  min-height: 610px; */
  width:calc(100% - (289px));
  float: left;
}

#content_projects{
    width: 100%;
}
/************************************************/
.signup_wrap {
  background-color: #111111;
  height: 25px;
  padding: 10px 0;
  width: 100%;
}
.signin_form{
	float:right;
        margin: 15px 10px;
}
.signin_form input{
	width:80px;
}
.reg_form{
	width:460px;
	padding:20px;
	margin:0 auto;
	border:1px solid #DFDFDF;
}
.form_title,
.form_sub_title{
	font-size:20px;
	font-family:"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
	font-size:20px;
	font-weight:bold;
}
.form_sub_title{
	font-weight:normal;
	padding:6px 0 15px 0;
}
.reg_form p{
	width: 300px;
	clear: left;
	margin: 0;
	padding: 5px 0 8px 0;
	padding-left: 155px; /*width of left column containing the label elements*/
	border-top: 1px dashed gray;
	height: 1%;
}
.reg_form label{
	font-weight: bold;
	float: left;
	margin-left: -155px; /*width of left column*/
	width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
}
input{
	padding:3px;
	color:#ccc;
	border:medium none;
        background: none repeat scroll 0 0 #333;
	margin-top:2px;
	width:180px;
	font-size:11px;
}
.greenButton{
	width:auto;
	margin:10px 0 0 2px;
	padding:3px 4px 3px 4px;
	color:white;
	background-color:#589d39;
	outline:none;
	border:1px solid #006600;
	font-weight:bold;
}
.greenButton:active{
	background-color:#006600;
	padding:4px 3px 2px 5px;
}
.error{
	color:#F00;
}

.popup{
    display:none; border: 1px solid white; background-color:#666; z-index: 50; color: #fff;
}
.clear{
    clear: both;
}

.floatRight{
    float: right;
}

.floatLeft{
    float: left;
}

div.head {
  background: url("../images/head_l.jpg") no-repeat scroll 0 0 #000;
  border-bottom: 1px solid #222;
  height: 75px;
  width: 100%;
  z-index: 5;
}

#footer {
  background: none repeat scroll 0 0 #454546;
  bottom: 0;
  clear: both;
  color: #fff;
  height: 20px;
  padding-top: 20px;
  text-align: center;
  width: 100%;
  position: fixed;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #333 inset;
    -webkit-text-fill-color: #ccc;
}

a.but_green {
  color: #b1d400;
  font-size: 11px;
  font-weight: bold;
  padding: 0 8px;
  text-decoration: none;
  text-transform: uppercase;
}

.hg {
  color: #888;
  font-weight: bold;
}
.popup_head {
  background: url("../images/popup_head.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 47px;
}
.popup_top {
  background: url("../images/popup_gradien.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  border-top: 1px solid #e3e2dc;
  padding: 5px 60px 5px 5px;
}

.popup_forms {
  background: none repeat scroll 0 0 #666;
  border-top: 1px solid #949494;
  font-size: 12px;
  padding: 25px 15px 25px 308px;
  text-align: left;
}
.popup_bottom {
  background: none repeat scroll 0 0 #2e2e2e;
  border-top: 1px solid #a3a3a3;
  padding: 8px 15px 8px 300px;
}
.popup_head span {
  color: #fff;
  float: right;
  font-size: 14px;
  font-weight: bold;
  margin: 13px 25px 0 0;
  text-decoration: none;
  text-transform: uppercase;
}
.popup_top .run {
  font-size: 12px;
  line-height: 25px;
  margin: 0 0 0 300px;
}
.popup_top img {
  border: 1px solid #4d4d4d;
  float: left;
  padding: 2px;
}
.popup_top table {
  border-collapse: collapse;
  float: left;
  width: 280px;
}
.popup_top td.leftcolumn {
  border: 1px solid #4d4d4d;
  padding: 3px 0 3px 5px;
}
.popup_top td.rightcolumn {
  border: 1px solid #4d4d4d;
  padding: 3px;
  text-align: center;
}

a.but_red {
  color: #ef0808 !important;
  font-size: 11px;
  font-weight: bold;
  padding: 0 8px;
  text-decoration: none;
  text-transform: uppercase;
}

a.but_green {
  color: #b1d400 !important;
  font-size: 11px;
  font-weight: bold;
  padding: 0 8px;
  text-decoration: none;
  text-transform: uppercase;
}

a:link, a:visited {
  color: #888;
  text-decoration: none;
}

.popup input{
    background:#ffffff;
    color: #000;
}

.popup_top .run {
  font-size: 12px;
  line-height: 25px;
  margin: 0 0 0 300px;
  text-align: left;
}

.hc {
  color: #c2e20d;
  font-weight: bold;
}
.hr_grey {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: -moz-use-text-color -moz-use-text-color #7a7a7a;
  border-image: none;
  border-style: none none solid;
  border-width: 0 0 1px;
  clear: both;
  color: #b5b5b5;
  margin: 8px 0 8px 10px;
}

.but_down:link, .but_down:visited, .but_down:hover, .but_down:focus, .but_right:hover, .but_right:focus {
  color: #fff;
}

.linkpositioner {
  left: 187px;
  position: absolute;
}

.linkpositioner a{
    color: #939393;
} 

.linkpositioner span{
    color: #636363;
}
.addlink:link, .addlink:visited {
  color: #b5b5b5;
  font-weight: bold;
}
.projects_container {
  margin: 0 0 0 10px;
  position: relative;
}
.topmenu{
    float: left; 
    margin-top: 35px; 
    margin-left: 250px; 
    font-weight: bold;
}
.topmenu a{
    color: #fff !important;
}

div#top_header {
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  height: 33px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  background-color: #000;
}

#top_header div:first-child{
    width: 78%
}
.topnav {
  font-weight: bold;
  left: 230px;
  position: absolute;
  text-transform: uppercase;
  top: 10px;
  white-space: nowrap;
}

.topnav a:hover{color: #fff !important;}
.topform {
  background-color: #000;
  border-left: 1px solid #222;
  color: #fff;
  height: 33px;
  position: absolute;
  right: 0;
  top: 0;
  white-space: nowrap;
  width: 289px;
}
.top_id_input {
  height: 19px;
  margin: 7px 0 0;
  padding: 0 0 0 2px;
  width: 160px;
}

.but_down {
  background: url("../images/arrow_down.gif") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
}

.but_right {
  background: url("../images/arrow_right.gif") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
}

.but_down, .but_right {
  clear: both;
  display: block;
  font-weight: bold;
  margin: 0 0 5px;
  padding: 0 0 0 12px;
}

#rightcontent {
  height: 100%;
  float: right;
  width: 285px;
}

.singup_link {
  color: #fff !important;
  font-size: 20px;
  left: 48%;
  position: fixed;
  top: 85%;
}
.popup_forms input.smallinput {
  background: none repeat scroll 0 0 #fff;
  border: 0 none;
  color: #000;
  height: 17px;
  margin: 4px 8px 12px 0;
  width: 150px;
}

.popup_forms input {
  background: none repeat scroll 0 0 #fff;
  border: 0 none;
  color: #000;
  height: 17px;
  margin: 4px 0 12px;
  padding: 2px 0 0;
  width: 308px;
}
.popup_forms input.checkbox {
  height: 14px;
  margin: 4px 8px 12px 2px;
  width: 14px;
}
.popup_head a {
  color: #fff;
  float: right;
  font-size: 14px;
  font-weight: bold;
  margin: 13px 25px 0 0;
  text-decoration: none;
  text-transform: uppercase;
}

.popup_head a.off, .popup_head a.off:link, .popup_head a.off:visited {
  color: #666;
}
.popup_head a.off:hover, .popup_head a.off:focus {
  color: #fff;
}
#cover {background: none repeat scroll 0 0 #000; display: none; height: 100%; left: 0; opacity: 0.7; position: absolute; top: 0; width: 100%; z-index: 10;}
.filepath{ color: #fff; font-weight: bold  }
.filepath a{ color: #fff; }

/* sorting */
#sortprojectbox{list-style-type: none; margin: 0;  padding: 0;}
#sortprojectbox li{background-color: #666666; float: left; height: 175px; margin: 0 0 8px 8px; padding: 1px; width: 160px;}
#sortprojectbox li img{margin: 0;}
.album_name {float: left; font-size: 11px; height: 13px; line-height: 15px; overflow: hidden; width: 160px;}
.sort_area {background: none repeat scroll 0 0 #666; border-top: 1px solid #949494; font-size: 12px; padding: 25px 15px;}
.popup_bottom_wide { background: none repeat scroll 0 0 #2e2e2e; border-top: 1px solid #a3a3a3; padding: 8px 15px;}
/*
.bottomside {background: none repeat scroll 0 0 #151515; border-top: 1px solid #414141; float: left; height: 188px; position: relative; width: 188px;}
*/
.bottomside{float: left}
.bottom_table input[type="checkbox"]{width: auto; display: inline}
.undobutton{position: absolute; cursor: pointer; right: 300px; text-transform: uppercase; font-weight: bold; padding: 2px 5px 1px; top: 6px; border: 1px solid rgb(153, 153, 153); opacity: 0.9}
.undobutton a{color: rgb(208, 255, 0) !important; }
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.6; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.6; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.6; }
    100% { opacity: 1.0; }
}


.table-striped > tbody > tr:nth-child(n+1) > td, .table-striped > tbody > tr:nth-child(n+1) > th {
  background-color: #999 !important;
}